body {
    margin: 0;
    padding: 0;
    background-color: rgb(231, 244, 247);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginD {
    height: 500px;
    width: 450px;
    padding: 25px 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.createImg {
    text-align: center;
    margin-bottom: 15px;
}

#login-img {
    height: 51px;
    object-fit: contain;
    margin-bottom: 10px;
}

.top-sec {
    display: flex;
    gap: 10px;
}

.bottom-sec2 input {
    height: 32px;
    border: 1px solid gray;
    border-radius: 4px;
    padding-left: 10px;
    width: 100%;
}

.bottom-sec2 {
    margin-top: 51px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
}

button {
    color: #fff;
    background-color: rgb(45, 102, 226);
    padding: 10px;
    width: 100%;
    margin-top: 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background-color: rgb(35, 82, 206);
}

#bottP {
    text-align: center;
    margin-top: 21px;
}